* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes move {
    from {
      margin-bottom: -100%;
    }
  }

.icon {
    max-width: 20px;
    max-height: 20px;
}

body {
    margin: 0;
    background-color: slategray;
    color:snow;
}

header{
    background-color: lightgray;
    text-align: center;
    margin-top: 0;
}

#parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: teal;
    min-height: 100vh;
    max-width: 900px;
    min-width: 500px;
    animation-duration: 5s;
    animation-name: move;
}


#title, header h1  {
    color: black;
    text-decoration: none;
    margin-top: 0;
    padding-top: 5px;
    background-color: lightgray;
}

div.headerbar {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

header div.headerbar a {
    background-color: rgb(190, 190, 190);
    margin: 5px;
    padding: 2px;
    color: lightslategray;
    width: 10%;
    text-align: center;
    text-decoration: none;
}

header div.headerbar a:hover {
    background-color: rgb(168, 168, 168);
    padding: 3px;
    padding-top: 0;
    color: lightgray;
}

a {
    color: tomato;
    text-decoration: none;
}

p {
    max-width: 90%;
}

@media (max-width:1200px) {
    .disappear {
        display: none;
    }
}